.digimon__title {
  position: absolute;
  top: 20px;

  font-family: 'Digimon Basic';
  text-transform: uppercase;
}

.digimon__title h1 {
  background: -webkit-linear-gradient(-90deg, #FFE379 , #EE7D1C);

  font-size: 3rem;
  font-weight: 900;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.digimon__title img {
  max-width: 120px;
}

.digimon__container {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  border-radius: 20px;
  background: rgba(0, 0, 0 ,.9);
}

.digimon__background {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding-top: 100px;

  text-align: center;
  vertical-align: center;
}

.digimon__cards--false img {
  max-width: 250px;

  filter: brightness(0%) drop-shadow(0 2px 5px rgba(255, 240, 31, .2));
}

.digimon__next {
  margin-top: 20px;
  padding: 10px 5px;

  border-radius: 4px;
  background-color: #F6AC47;
}

.digimon__next:hover {
  background-color: #FFE249;
}

.digimon__cards--true img {
  max-width: 250px;

  filter: brightness(100%);
}

.digimon__cards h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.digimon__input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;

  height: 100%;

  color: #EE7D1C;
  font-family: 'Digimon Basic';
  font-size: 1.5rem;
  text-align: center;
}

.digimon__input input {
  border: none;
  border-radius: 15px;

  text-align: center;
}

.digimon__next {
  color: white;
  font-size: 18px;
}

.digimon__puntuacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100px;
  height: 100px;
  margin: 20px;

  border-radius: 4px;
  background-color: white;

  color: black;
  text-align: center;
}

.digimon__puntuacion h1 {
  font-family: 'Digimon Basic';
  font-weight: bold;
}

.digimon__puntuacion--current h1 {
  font-family: 'Digimon Basic';
  font-weight: bold;
}

.digimon__puntuacion--current label {
  font-family: 'Digimon Basic';
  font-size: 20px;
  font-weight: bold;
}

.digimon__puntuacion label {
  font-family: 'Digimon Basic';
  font-size: 20px;
  font-weight: bold;
}

.digimon__puntuacion--current {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100px;
  height: 100px;
  margin: 20px;

  border-radius: 4px;
  background-color: white;

  color: black;
  text-align: center;
}

.digimon__incorrect {
  content: ' ';
}





